<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com"><i class="fa-brands fa-square-facebook fab"></i></a>
            <a href="https://www.instagram.com/ezscripter/"><i class="fa-brands fa-square-instagram ins"></i></a>
            <a href="https://www.linkedin.com/in/krishn-dev/"><i class="fa-brands fa-linkedin lin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;Wanderlust Private Limited</div>
        <div class="f-info-link">
            <a href="privacy">Privacy</a> &nbsp;|&nbsp;
            <a href="cookies">Cookies</a> &nbsp;|&nbsp;
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>